{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-6 mx-auto">
    <div class="card card-body bg-light">
      <form method="post" action="/login">
        <fieldset>
          <legend>Login</legend>
          <hr />
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" required>
          </div>
          <div class="form-group">
            <input class="btn btn-primary" type="submit" name="type" value="Login">
            <input class="btn btn-success" type="submit" name="type" value="Create">
            <input class="btn btn-danger" type="submit" name="type" value="Delete">
          </div>
        </fieldset>
      </form>
      <hr>
      <form method="post" action="/ban_account">
        <label for="email">Enter your email to self-ban:</label>
        <input type="email" name="email" required class="form-control">
        <input type="submit" value="Ban My Account" class="btn btn-danger mt-2">
      </form>
    </div>
  </div>
</div>
{% endblock %}
